body{
    font-size: 62.5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 1rem;
}
.header{
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
    color: white;

    background-image: linear-gradient(to right, rgba(18, 138, 18, 0.802), rgba(114, 241, 114, 0.81));
}

.navbar{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.navbar>li, a{
    text-decoration: none;
    list-style: none;
    /* background-color: #777; */
    padding: 0.6rem;
    border-radius: 3rem;
    color: white;
}
li{
    border: 2px solid #777;
}
li:hover, a:hover{
    background-color: azure;
    color: black;
}